<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/assetsnew/images/favicon.svg"
      type="image/x-icon"
    />
    <title><%= extra.admin.title.default %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    
    <script src="https://kit.fontawesome.com/9f45c806ba.js" crossorigin="anonymous"></script>
    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/lineicons.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdn.qwaekactyl.xyz/v3//assetsnew/css/main.css" />
  </head>
  <body class="darkTheme">

    <!-- ======== sidebar-nav =========== -->
    <%- include('./admin_assets/mainnav') %>
 

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
      <!-- ========== header start ========== -->
      <%- include('./admin_assets/header') %>
    
    
          
          
          <!-- End Row -->
          <div class="row">
            <div class="col">
                    
    <div class="card-style">
    <div class="card-content">
      <h3><a>Servers</a></h4>
      <h4><a> </a></h4>
      <div class="input-style-2">
        <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" id='searchinput' placeholder="Search" />
      </div>
    </div>
    <div class="table-wrapper table-responsive">
      <table class="table" id="table">
        <thead>
          <tr>
            <th><h6>Id</h6></th>
            <th><h6>Name</h6></th>
            <th><h6>Node</h6></th>
            <th><h6>Egg</h6></th>
          </tr>
          <!-- end table row-->
        </thead>
        <tbody>

        </tbody>
      </table>
      <!-- end table -->
    </div>

  <!-- End Chart -->
</div><br>

                    <!-- end table -->

                <!-- End Chart -->
              </div>
            </div>
            <!-- End Col -->
            
          <!-- End Row -->
          
      <!-- ========== section end ========== -->
      <script>
        async function idk() {
        var table = document.getElementById("table");
        
        fetch('/api/admin/servers')
      .then(response => response.json())
      .then(json => {
        for(let i = 0; i < json.length; i++) {
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = `<p><a href="/admin/servers/view?id=${json[i].id}">${json[i].id}</a></p>`;
        cell2.innerHTML = `<p><a href="/admin/servers/view?id=${json[i].id}">${json[i].name}</a></p>`;
        cell3.innerHTML = `<p><a href="/admin/servers/view?id=${json[i].id}">${json[i].node}</a></p>`;
        cell4.innerHTML = `<p><a href="/admin/servers/view?id=${json[i].id}">${json[i].egg}</a></p>`;
        }
      })
        
      }
        idk()
      </script>

  <script>
    const searchInput = document.getElementById('searchinput');
    const table = document.getElementById('table');
    const rows = table.getElementsByTagName('tr');
    
    searchInput.addEventListener('keyup', function() {
      const query = this.value.toLowerCase();
      
      for (let i = 1; i < rows.length; i++) {
        const row = rows[i];
        const cells = row.getElementsByTagName('td');
        let match = false;
        
        for (let j = 0; j < cells.length; j++) {
          const cell = cells[j];
          if (cell.innerHTML.toLowerCase().includes(query)) {
            match = true;
            break;
          }
        }
        
        if (match) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      }
    });
  </script>


      <!-- ========== footer start =========== -->
      <%- include('./theme_assets/footer') %>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/Chart.min.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/dynamic-pie-chart.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/moment.min.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/fullcalendar.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/jvectormap.min.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/world-merc.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/polyfill.js"></script>
    <script src="https://cdn.qwaekactyl.xyz/v3//assetsnew/js/main.js"></script>

    
  </body>
</html>
