<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= extra.dashboard.title %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://media.discordapp.net/attachments/939526295434444850/939841449564962836/logo.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
       
</head>

<body>
   <%- include('./qwakeactyl/mainnav') %>
   <%- include('./qwakeactyl/header') %>
                      
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="mt-2 mb-4">
                        <% if (req.query.err) { %>
                            <% if (req.query.err !== "none") { %>
                                <h5 class="text-white op-7 mb-4">
                                    <% if (req.query.err == "MISSINGID") { %>
                                        You have not provided the Discord user ID.
                                    <% } else if (req.query.err == "INVALIDID" || req.query.err == "MISSINGID") { %>
                                        You have provided a Discord user ID that does not exist, or has not signed up on the dashboard.
				    <% } else if (req.query.err == "CREATECOUPONINVALIDCHARACTERS") { %>
					One of the characters you entered in coupon creation was invalid, please try again.
				    <% } else if (req.query.err == "REVOKECOUPONCANNOTFINDCODE") { %>
					One of the characters you entered in coupon revoke was invalid, please try again.
				    <% } else if (req.query.err == "CREATECOUPONEMPTY") { %>
					While creating your coupon you did not specify to give any resources or coins.
				    <% } else if (req.query.err == "CREATECOUPONLESSTHANONE") { %>
					While creating your coupon you tried to give less then one in RAM, DISK, CPU and/or coins.
                                    <% } else if (req.query.err == "MISSINGVARIABLES") { %>
                                        You have not provided either ram, disk, cpu, and/or servers.
                                    <% } else if (req.query.err == "REMOVEACCOUNTMISSINGID") { %>
                                        You have not specified an id to remove from the panel
                                    <% } else if (req.query.err == "MISSINGCOINS") { %>
                                        You have not provided the coin amount.
                                    <% } else if (req.query.err == "RAMSIZE" || req.query.err == "DISKSIZE" || req.query.err == "CPUSIZE" || req.query.err == "SERVERSIZE") { %>
                                        The RAM, disk, CPU and servers number cannot be less than 0 nor above 999999999999999.
                                    <% } else if (req.query.err == "INVALIDCOINNUMBER") { %>
                                        The coin amount must be a number.
                                    <% } else if (req.query.err == "COINSIZE") { %>
                                        The coin amount canno tbe less than 0 and must be above 999999999999999.
                                    <% } else if (req.query.err == "NOIP") { %>
                                        There is no IP saved for that user.
                                    <% } else if(req.query.err == "NONE" && req.query.ip !== undefined) { %>
                                        IP: <%= req.query.ip %>
                                    <% } else { %>
                                        Stop admin abusing.
                                    <% } %>
                                </h5>
                            <% } %>
                        <% } %>
				    <% if (req.query.code) { %>
					<h5 class="text-white op-7 mb-4">
					You have created a coupon code with the name of: <%= req.query.code %>
					</h5>
				    <% } %>

					</div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Qwakeactyl info 
                                      
                                   <center> <a href="https://github.com/Team-IC/Qwakeactyl" target="_blank"><i class="fab fa-github"></i>GITHUB</a></div>
                                </div>
                                <div class="card-body">
                                    <center><p id="latestversion"><span style="margin-left: 5%;">Fetching...</span></p></center>

                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row" id="proBanner">
                            <div class="col-12">
                          </div>
                        </div>  
                        <div class="row">
                          <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Change someone's package.</h4>
                                <p>Discord User ID: <input class="form-control" id="id" placeholder="0000000000000000"></p>
                                <p>Package: <select class="form-control" id="package">
                                    <option value="">Default Plan (Currently: <%= settings.api.client.packages.default %>)</option>
                                    <% for (let [name, value] of Object.entries(settings.api.client.packages.list)) { %>
                                        <option value="<%= name %>"><%= name %> (RAM: <%= value.ram %>MB, Disk: <%= value.disk %>MB, CPU: <%= value.cpu %>%, Servers: <%= value.servers %>)</option>
                                    <% } %>
                                </select></p>
                                <button onclick="submitForm()" class="btn btn-primary">Change</button>

                                <script>
                                    async function submitForm() {
                                        let id = encodeURIComponent(document.getElementById("id").value);
                                        let packagename = encodeURIComponent(document.getElementById("package").value);
                                        window.location.href = "/setplan?id=" + id + "&package=" + packagename
                                    }
                                </script>

                              </div>
                                </div>
                              </div>
                            </div>
                            <div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Change someone's extra resources.</h4>
                                    <form action="/setresources">
                                        <label for="id">Discord User ID:</label>
                                        <input class="form-control" name="id" placeholder="0000000000000000"><br><br>
                                        <label for="ram">RAM:</label>
                                        <input class="form-control" name="ram" type="number"><br><br>
                                        <label for="disk">Disk:</label>
                                        <input class="form-control" name="disk" type="number"><br><br>
                                        <label for="cpu">CPU:</label>
                                        <input class="form-control" name="cpu" type="number"><br><br>
                                        <label for="servers">Servers:</label>
                                        <input class="form-control" name="servers" type="number"><br><br>
                                        <button type="submit" class="btn btn-primary">Change</button>
                                    </form>
                                </div>
                              </div>
                              <div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Set coins.</h4>
                                    <form action="/setcoins">
                                        <label for="id">Discord User ID:</label>
                                        <input class="form-control" name="id" placeholder="0000000000000000"><br><br>
                                        <label for="coins">Coins:</label>
                                        <input class="form-control" name="coins" type="number"><br><br>
                                        <button type="submit" class="btn btn-primary">Set</button>
                                    </form>
                                </div>
                              </div>
                              <div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Add coins.</h4>
                                    <form action="/addcoins">
                                        <label for="id">Discord User ID:</label>
                                        <input class="form-control" name="id" placeholder="0000000000000000"><br><br>
                                        <label for="coins">Coins:</label>
                                        <input class="form-control" name="coins" type="number"><br><br>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </form>
                                </div>
                              </div>

                            <% if(settings.api.client.oauth2.ip["duplicate check"] == true) { %>
                              <div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Get IP.</h4>
                                    <form action="/getip">
                                        <label for="id">Discord User ID:</label>
                                        <input class="form-control" name="id" placeholder="0000000000000000"><br><br>
                                        <button type="submit" class="btn btn-primary">Get</button>
                                    </form>
                                </div>
                              </div>
                            <% } %>

							<div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Create/Modify Coupon</h4>
                                    <form action="/create_coupon">
                                        <label for="code">Code:</label>
                                        <input class="form-control" name="code" placeholder="Leave this empty to generate a random code."><br><br>
                                        <label for="coins">Coins:</label>
                                        <input class="form-control" name="coins" type="number"><br><br>
                                        <label for="ram">RAM:</label>
                                        <input class="form-control" name="ram" type="number"><br><br>
                                        <label for="disk">Disk:</label>
                                        <input class="form-control" name="disk" type="number"><br><br>
                                        <label for="cpu">CPU:</label>
                                        <input class="form-control" name="cpu" type="number"><br><br>
                                        <label for="servers">Servers:</label>
                                        <input class="form-control" name="servers" type="number"><br><br>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </form>
                                </div>
                            </div>

							<div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Revoke Coupon</h4>
                                    <form action="/revoke_coupon">
                                        <label for="code">Code:</label>
                                        <input class="form-control" name="code"><br><br>
                                        <button type="submit" class="btn btn-primary">Revoke</button>
                                    </form>
                                </div>
                            </div>

							<div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">Remove Account</h4>
									<p>This only removes the account from the database, and does not delete the account.<br>This feature has not been tested with the renewal feature.</p>
                                    <form action="/remove_account">
                                        <label for="id">Discord ID:</label>
                                        <input class="form-control" name="id"><br><br>
                                        <button type="submit" class="btn btn-primary">Remove</button>
                                    </form>
                                </div>
                            </div>

							<div class="card col-md-12 grid-margin stretch-card">
                                <div class="card-body">
                                    <h4 class="card-title">User Information</h4>

									<label for="id">Discord ID:</label>
									<input class="form-control" name="id" id="userinfoid"><br><br>
									<button type="submit" class="btn btn-primary" onclick="getUserInfo()">Get</button>

									<script>
										async function getUserInfo() {
											let userinfo = await fetch("/userinfo?id=" + document.getElementById("userinfoid").value);
											alert(await userinfo.text())
										}
									</script>
                                </div>
                            </div>

							
					</div>
				</div>
			</div>
          </div>
		</div>
	  </div>
    </body>
  </html>
   <%- include('./qwakeactyl/footer') %>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/core/popper.min.js"></script>
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


	<!-- Chart JS -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="https://cdn.qwakeactyl.ml/files/assets/js/atlantis.min.js"></script>


	<script>
		$('#lineChart').sparkline([102,109,120,99,110,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart2').sparkline([99,125,122,105,110,124,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});

		$('#lineChart3').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: 'rgba(255, 255, 255, .5)',
			fillColor: 'rgba(255, 255, 255, .15)'
		});
	</script>
<style>
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
</style>
</body>
</html>
