<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= extra.dashboard.title %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://media.discordapp.net/attachments/939526295434444850/939841449564962836/logo.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
     
</head>
   
<body>
  
  <%- include('./qwakeactyl/mainnav') %>
  <%- include('./qwakeactyl/header') %>
    <%- include('./qwakeactyl/widgets') %>
      <%- include('./qwakeactyl/ads') %>
        <br></br>
        <!-- Page content -->
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col-xl-8">
                    <!-- Dark Chart -->
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Your Servers</h3>
                                </div>
                                <div class="col text-right">
                                    <a href="/servers" class="btn btn-sm btn-primary">List all</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Memory</th>
                                        <th scope="col">Disk</th>
                                        <th scope="col">CPU</th>
                                        <th scope="col">Manage</th>
                                    </tr>
                                </thead>
                                <% for (let i = 0, len = pterodactyl.relationships.servers.data.length; i < len; i++) { %>
                                <tbody>
                                    <tr>
                                        <td>
                                            <%= pterodactyl.relationships.servers.data[i].attributes.name.length > 15 ? pterodactyl.relationships.servers.data[i].attributes.name.slice(0, 12) + "..." : pterodactyl.relationships.servers.data[i].attributes.name %>
                                        </td>
                                        <td>
                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.memory %>MB
                                        </td>
                                        <td>
                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.disk %>MB
                                        </td>
                                        <td>
                                            <%= pterodactyl.relationships.servers.data[i].attributes.limits.cpu %>%
                                        </td>
                                        <td>
                                            <a
                                                href="/servers/edit?id=<%= pterodactyl.relationships.servers.data[i].attributes.id %>">
                                                <button class="btn btn-icon btn-primary" type="button">
                                                    <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                                                </button>
                                            </a>
                                        </td>
                                         <td>
                                          <a href="<%= settings.pterodactyl.domain %>/server/<%= pterodactyl.relationships.servers.data[i].attributes.identifier %>" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fas fa-link"></i></a>
                                            </td>
                                    </tr>
                                </tbody>
                                <% } %>
                            </table>
                        </div>
                    </div>
                  </div>
                
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Information</h3>
                                </div>
                              
                                <div class="col text-right">
                                    <a href="/updateinfo" class="btn btn-sm btn-primary">Update Info</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div
                                    class="d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                                    <div class="text-md-center text-xl-left">
                                        <h5>Username:</h5>
                                        <input type="text" class="form-control form-control-muted"
                                            placeholder="<%= pterodactyl.username %>" disabled>
                                    </div>
                                </div>
                              
                                <div
                                    class="d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                                    <div class="text-md-center text-xl-left">
                                        <h5>Email:</h5>
                                        <input type="text" class="form-control form-control-muted"
                                            placeholder="<%= pterodactyl.email %>" disabled>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
            </div>
        </div>
<%- include('./qwakeactyl/footer') %>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
</body>

</html>

<style>
</style>