
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= extra.dashboard.title %></title>
    <% if (settings.api.arcio.enabled == true) { %>
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <% } %>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="https://media.discordapp.net/attachments/939526295434444850/939841449564962836/logo.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/css/argon.css?v=1.2.0" type="text/css">
      
</head>

<body>
<%- include('./qwakeactyl/mainnav') %>
   <%- include('./qwakeactyl/header') %>
     <%- include('./qwakeactyl/ads') %>
        <%- include('./qwakeactyl/widgets') %>

        <!-- Page content -->
      <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Edit Server</div>
                                </div>
                                <div class="card-body">
                                    <% if (req.query.id) { %>
                                        <% if (pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id).length == 1) {
                                            let serverinfo = pterodactyl.relationships.servers.data.filter(name => name.attributes.id == req.query.id)[0];
                                            let attemptegg = null;
                                            let attemptname = null;
                                            for (let [name, value] of Object.entries(settings.api.client.eggs)) {
                                                if (settings.api.client.eggs[name].info.egg == serverinfo.attributes.egg) {
                                                    attemptegg = settings.api.client.eggs[name];
                                                    attemptname = name;
                                                };
                                            };
                                            let egginfo = attemptegg ? attemptegg.display : "???";
                                        %>
                                                <p>Name: <b><%= serverinfo.attributes.name %></b></p>
                                                <p>Egg: <b><%= egginfo %></b></p>
                                                <p>RAM:&nbsp;&nbsp;&nbsp;<input class="form-control" id="ram" value="<%= serverinfo.attributes.limits.memory %>"></p>
                                                <p>Disk:&nbsp;&nbsp;&nbsp;<input class="form-control" id="disk" value="<%= serverinfo.attributes.limits.disk %>"></p>
                                                <p>CPU:&nbsp;&nbsp;&nbsp;<input class="form-control" id="cpu" value="<%= serverinfo.attributes.limits.cpu %>"></p>
                                                <button onclick="submitForm()" class="btn btn-primary" style="background-color: #33404D;">Modify</button>
                                                <br>
                                            </div>
                                            <script>
                                                async function submitForm() {
                                                    let ram = encodeURIComponent(document.getElementById("ram").value);
                                                    let disk = encodeURIComponent(document.getElementById("disk").value);
                                                    let cpu = encodeURIComponent(document.getElementById("cpu").value);
                                                    document.location.href = `/modify?id=<%= req.query.id %>&ram=${ram}&disk=${disk}&cpu=${cpu}`;
                                                };
                                            </script>
                                        <% } else { %>
                                            <p style="margin-left: 5%;">Could not find server with the provided ID.</p>
                                        <% } %>
                                    <% } else { %>
                                        <p style="margin-left: 5%;">Missing server ID.</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
          </div>
  
                <!-- Footer -->
    <%- include('./qwakeactyl/footer') %>
            </div>
        </div>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/js-cookie/js.cookie.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/chart.js/dist/Chart.min.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/vendor/chart.js/dist/Chart.extension.js"></script>
        <script src="https://cdn.qwakeactyl.ml/files/assets/qwakeactyl/js/argon.js?v=1.2.0"></script>
</body>
</html>
    
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Plugin js for this page -->
    <script src="https://cdn.qwakeactyl.ml/files/assets/vendors/select2/select2.min.js"></script>
    <script src="https://cdn.qwakeactyl.ml/files/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function submitGift() {
        let id = encodeURIComponent(document.getElementById("InputID").value);
        let ram = encodeURIComponent(document.getElementById("InputRAM").value);
        let disk = encodeURIComponent(document.getElementById("InputDisk").value);
        let cpu = encodeURIComponent(document.getElementById("InputCPU").value);
        let servers = encodeURIComponent(document.getElementById("InputServers").value);
        document.location.href = `/giftres?id=${id}&ram=${ram}&disk=${disk}&cpu=${cpu}&servers=${servers}`;
      };
    </script>
    <!-- End plugin js for this page -->
    <!-- endinject -->
   
    <!-- Custom js for this page -->
    <script src="https://cdn.qwakeactyl.ml/files/assets/js/file-upload.js"></script>
    <script src="https://cdn.qwakeactyl.ml/files/assets/js/typeahead.js"></script>
    <script src="https://cdn.qwakeactyl.ml/files/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>